#headerID {
    border-bottom: 1px solid black;
}

.headerDiv {
    text-align: center;
    width: 80%;
    margin: auto;
}

.parkDescrip {
    text-align: justify;
}

#footerID {
    border-top: 1px solid lightblue;
}

.footerDiv {
    text-align: center;
    margin-top: 10px;
}

.footerDiv p {
    margin: 0;
}

.hidden {
    display: none;
}

.dropdown {
    float: left;
}