<div class="footerDiv">
    <p class="copyright">&copy Good Lord World</p>
    <a href="https://www.google.com/maps/place/Tropicana/@51.3409,-2.9828,17z/data=!4m13!1m7!3m6!1s0x0:0x0!2zNTHCsDIwJzI3LjIiTiAywrA1OCc1OC4xIlc!3b1!8m2!3d51.3409!4d-2.9828!3m4!1s0x0:0x178a7f8263d9e9a2!8m2!3d51.3407619!4d-2.982723" target="_blank">Directions To The Park</a>
    <p class="parkHours">Operating Hours: {{#each operating_hours}}{{this.opening}} - {{this.closing}}{{/each}}</p>
</div>
